streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
plotly==5.24.1
folium==0.16.0
streamlit-folium==0.23.0
python-docx==1.1.2
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
supabase==2.5.1
python-dotenv==1.0.1
pillow==10.3.0
streamlit-mic-recorder==0.0.4
SpeechRecognition==3.10.4
google-genai
python-docx
xlsxwriter
